/*Standard font definition*/
*{
  font-family: 'Roboto', sans-serif;
}

/*header styles*/
header {
  display: flex;
  margin: 25px;
  justify-content: space-between;
  align-items: baseline;
}

/*Navigation links of the portifolio*/
.navegation a, .portfolio a {
  color: black;
  text-decoration: none;
}

/*Styles of the welcome section*/
.Accueil{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  transition: opacity 1s;
  height: 100%;
}

.Accueil input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.Accueil input[type="radio"]:checked + .slide {
  display: block;
  opacity: 1;
}

.accueil img{
  width: 100%;
  margin: auto;
  max-height: 400px;
}


.accueil, p.paragraphUpper, .paragraphUpper, .figure img::after, .prev, .next{
  color: white;

}

.accueil p.paragraphUpper{
  font: size 45px; 
  margin-left: 50px;
  position: absolute;
  top: 30%;
}

.accueil {
  top : 300px;
  font-size: 16px;
}

/*General styles of paragraphs*/
.paragraphUpper{
  position: absolute;
  margin-left: 50px;
  top: 30%;
}

/*Navigation list styles*/
.navegation li{
  list-style: none;
  display: inline;
  text-align: left;
}

/*style of sections services,  welcome, img-services, subtitle*/
.services, .portfolio, .img-services, .subtitle {
  text-align: center;
}

.img-services{
  display: flex;
  justify-content: center;
  text-align: start;
}

ul{
  list-style-type: none;
}

h2{
  text-align: left;
}

.accès{
  margin-top: 20px;
}

/*style in the picture section*/
.figure{
  display: flex;
  flex-wrap: wrap;
  margin: 80px;
}

.figure img{
  width: calc(25% - 20px);
  margin: 10px;

}

.figure img::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #4083da;
  opacity: 0;
  transition: opacity 0.3s;
}

/*Styles of slide navigation buttons*/
.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  margin: -15px;
  width: 40px;
  background-color: #b4b9c0;
  cursor: pointer;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  
  
}
.prev {
  left: 0;
}

.next {
  right: 0;
}

.figCaption{
  position: relative;;
}

/*style of the map and form*/
.figCaption iframe{
  width: 100%;
  margin-top: 20px;
}

.nom, .Email, .Sujet, .message{
  padding: 5px;
}

.figCaption button{
  margin-left: 5px;
  align-items: center;
}

.figCaption form{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  top: 20%;
  right: 0;
  transform: translate(0,-50);
  z-index: 2;
}

.message{
  width: 100%;
  height: 1
}

/*style of the hover in the links*/
a:hover{
  background-color: #4083da;
  padding: 2px;
}

